<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FIRDBExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B5A40E41F195D530040776E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B5A40F81F195D540040776E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B5A41031F195D540040776E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
